<!-- Navbar -->
<nav id="navbar" class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 bg-transparent">
    <div class="max-w-6xl mx-auto px-6 sm:px-18">
        <div class="flex justify-start items-center py-4 md:py-6 gap-x-24">
            <!-- Logo -->
            <div class="text-3xl font-heading font-bold">
                <a href="/" class="transition-colors hover:text-blue-400">YK</a>
            </div>
            <!-- Desktop Navigation -->
            <nav class="hidden md:flex items-center space-x-10 ml-auto">
                <a href="/" class="text-s transition-colors hover:text-blue-400">Home</a>
                <a href="/about" class="text-s transition-colors hover:text-blue-400">About</a>
                <a href="/resume" class="text-s transition-colors hover:text-blue-400">Resume</a>
                <a href="/contact" class="text-s transition-colors hover:text-blue-400">Contact</a>
                <!-- Social Media Icons -->
                <a href="https://github.com/YassirKhaldi" target="_blank" 
                    class="text-300 hover:text-blue-400 transition-colors">
                    <i class="fab fa-github w-8 h-8 text-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/yassir-khaldi-a8a480252/" target="_blank" 
                    class="text-300 hover:text-blue-400 transition-colors">
                    <i class="fab fa-linkedin w-8 h-8 text-2xl"></i>
                </a>
            </nav>
        </div>
    </div>
</nav>

